.div
  %h4 Answers
        
  %table.table.table-bordered.table-striped
    %thead.thead-light
      %tr
        %th= sortable 'learners.full_name', 'Learner name'
        %th= sortable 'learners.email', 'Learner email'
        %th= sortable 'quizzes.name', 'Quiz'
        %th= sortable 'questions.title', 'Question'
        %th= sortable 'possible_answers.value', 'Answer'
        %th Correct?
        %th Answered
    %tbody
      - @answers.each do |a|
        %tr
          %td= a.learner.full_name
          %td= a.learner.email
          %td= a.possible_answer.question.quiz.name
          %td= a.possible_answer.question.title
          %td= a.possible_answer.value
          %td= a.possible_answer.correct
          %td= time_ago_in_words(a.created_at) + ' ago'

= will_paginate @answers
